html, body{
    margin:0px !important;
    padding: 0px !important;
}

/* Configs Globais */
body {
    font-family: 'Tahoma';
}

p {
    margin: 10px auto 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

h3 {
   color: #1c81c0;
   margin-top: 0px;
   font-weight: normal;
}

span {
   font-weight: bold; 
}

div {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

/* Configs Específicas */

.subtitulo {
   color: #ffffff;
   font-size: 28px;
   line-height: 42px;
}

.texto-amarelo {
   color: #fff81b;
   font-weight: bold;
}

.texto-azul{
   color: #1d80c1;
   font-weight: bold;
}

.cabecario {
    background-color: #afddfb;
}

.cabecario img {
    width: 150px;
}

.cabecario p {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.cabecario a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: solid 2px #1d1d1d;
    text-decoration: none;
    margin: 0px 10px;
}

.sobre h2 {
   color: #1d1d1d;
   margin-bottom: 5px;
}

.sobre img {
   width: 450px;
}

.servicos {
   background-color: #1d80c1;
}

.servicos p{
   color: #ffffff;
   line-height: 42px;
   font-size: 22px;
   text-align: center;
   width: 700px;
}

.servicos ul {
   margin: 40px auto 40px auto;
   width: 135px;
}

.servicos li {
   color: #ffffff;
   line-height: 42px;
   text-align: left;
   font-size: 22px;
}
